
<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
      <article>
          <h1>
              <a href="{{ post.url }}">{{ post.title }}</a>
          </h1>
          <div class="date">
            {{ post.date | date: "%-m月%-d日，%Y"}}
          </div>

          <p class="excerpt">
              {{ post.excerpt }}
          </p>
      </article>
{% endfor %}

<!--设置分页-->

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <!--检查是否有上一页-->
    {% if paginator.previous_page %}
    <!--如果有，则生成指向上一页的链接，包含左箭头符号-->
    <a style="padding: 8px;" href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a>
    <!--如果没有，则没有链接，只有一个文字-->
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    <!--生成所有页面链接-->
    {% assign page_path = site.paginate_path | replace: '//', '/' %}

    {% for page in (1..paginator.total_pages) %}
        <!--如果处于当前页面--> 
        {% if page == paginator.page %}
            <!--则将当前页码处理成斜体-->
            <em>{{ page }}</em>
        {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | replace: '//', '/' }}">{{ page }}</a>
        <!--否则，生成一个指定其他页面的链接-->
        {% else %}
            {% assign current_path = page_path | replace: ':num', page %}
            <a href="{{ current_path}}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    
    <!--检查是否有下一页-->
    {% if paginator.next_page %}
        <a style="padding: 8px;" href="{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}


<!--按发布时间倒序排列-->
{% assign sorted = site.posts | sort:"date" | reverse %}